.DataForm {
    display: flex;
    &__avatar {
        img {
            width: 300px;
            height: 300px;
            border-radius: 50%;
        }
    }
    &__info {
        width: 70%;
        margin: auto;
        &--row {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        &--columns {
            width: 50%;
            .info-card {
                h6 {
                    font-size: 18px;
                }
            }
        }
    }
}