@import './Vars.scss';
.Home {
    height: 77.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__main {
        &--title {
            font-size: 60px;
        }
        &--aditionalInfo {
            font-size: 22px;
        }
        &--title,
        &--aditionalInfo {
            text-align: center;
        }
    }
    &__button {
        margin: 10px;
    }
}

.Button {
    color: var(--color-main);
    background-color: var(--bg-main);
    border-color: var(--bg-main);
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:hover {
        color: var(--color-main);
        background-color: var(--bg-main_dark);
        border-color: var(--bg-main);
    }
}